* {
  box-sizing: border-box;
}

body {
  background: #333;
  color: hsl(200, 100%, 90%);
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
}

.new-item-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.btn {
  background: hsl(200, 100%, 50%);
  border: 1px solid hsl(200, 100%, 60%);
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  cursor: pointer;
  outline: none;
}

.btn:hover,
.btn:focus-visible {
  background: hsl(200, 100%, 40%);
}

.btn-danger {
  background: hsl(0, 100%, 40%);
  border: 1px solid hsl(0, 100%, 50%);
}

.btn-danger:hover,
.btn-danger:focus-visible {
  background: hsl(0, 100%, 30%);
}

.new-item-form input {
  outline: none;
  border: 1px solid hsl(200, 100%, 40%);
  background: hsl(200, 100%, 30%);
  border-radius: 0.25em;
  padding: 0.5em;
  color: white;
  font-size: 1rem;
}

.new-item-form input:focus {
  border: 1px solid hsl(200, 100%, 70%);
}

.header {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.list {
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  list-style: none;
}

.list li:has(input:checked) label {
  color: hsl(200, 20%, 40%);
}

.list li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.list li label {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  align-items: center;
  flex-grow: 1;
}

.list li label:hover {
  color: hsl(200, 100%, 80%);
}

.completed {
  text-decoration: line-through;
  color: hsl(200, 20%, 40%);
}

.no-items {
  text-align: center;
  color: hsl(200, 20%, 40%);
  font-style: italic;
  margin-top: 1rem;
}
